<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Setup</title>
    <style>
        body{
            background-color: saddlebrown;
            color: white;
        }
    </style>
</head>
<body>
    <h1><%= name %> is a good developer</h1>
    <ul>
        <li>title = <%= product[1].title %> price = <%= product[1].price%> brand = <%= product[1].brande%></li>
    </ul>
</body>
</html>