<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form handling in express</title>
    <style>
        body{
            background-color: darkblue;
            color: white;
        }
    </style>
</head>
<body>
    <form action="/submit-form" method="post">
    <h1>here we learning form handling in express js</h1>
    <label for="">Name</label>
    <input type="text" name="name" id="" placeholder="Enter you name ">
    <label for="">Email</label>
    <input type="email" name="name" id="" placeholder="enter your email">
    <label for="">password</label>
    <input type="password" name="name" id="" placeholder="Enter your password">
    <label for="">Submit</label>
    <input type="submit" value="submit">
</form>

</body>
</html>